html, body {
    color: #424551;
    font-family: Lato, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg,#ff3f3a 0%,#f75e05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button:hover {
    transform: scale(1.03);
}

.logo {
}

.container {
}

/*-------------------------------------------------------------------*/

.header {
    font-weight: 700;
}

.header__top {
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
   color: #FF3F3A;;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav{
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
}

.header__user-nav:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;;
}

.button {
}

.header__body {
}